li{
  color:white;
  margin-left: 50px;
}
a{
  text-decoration: none;
  color:white;
}
.footer{

left: 0;
bottom: 0;
width: 100%;
height:150px;
color: white;
text-align: center;
margin-top: 20px;
padding: 10px;
position: relative;
}
#x{
  width: 100%;
}
.main{
position: relative;
padding: 20px;
}
.butt{
position: absolute;
bottom: 0;
left:60px;


}
h1{
  font-size: 60px;
}
button{
border-radius: 10px;
background-color: darkblue;
color:white;
border: none;
}
button:hover{
color:white;
background-color: blue;
}
p{
font-weight: bold;
}
.butt a{
text-decoration: none;
color: white;
}
button:active{
color: white;
background-color: blue;
}
.footer img{
  position: absolute;
  top: 0;
  right: 50px;
}
.footer h5{
  position: relative;
  left:70px;
}
.img{
  position: relative;
}
.img img{
  position: absolute;
  left: 0;
  top:0;
  
}
